{layout '../../../CoreModule/templates/@layout.latte'}

{* First login with card - step 1*}

{block content}

	{dump $articles}

	<div class="col-md-12">
	{foreach $articles as $article}
		<div class="col-md-3">
			<h2>title: {$article->getTitle()}</h2><br>
			perex: {$article->getPerex()}<br>
			content: {$article->getContent()|noescape}<br>
			state: {$article->getState()}<br>
			imagePath: {$article->getImagepath()}
		</div>
	{/foreach}
	</div>

{/block}

{block scripts}
	{include parent}
{/block}


{block head}{/block}
