{block content}
<h1 n:block=title>Stránka nebyla nalezena</h1>

<h2>V čem může být problém?</h2>

<ul>
	<li>máte neaktuální odkaz v oblíbených položkách / záložkách</li>
	<li>přišel(a) jste z vyhledávače, který nemá uloženy aktuální údaje o těchto stránkách,</li>
	<li>přišel(a) jste ze stránek, na kterých je neaktuální odkaz</li>
	<li>při psaní adresy stránek do Vašeho prohlížeče jste zadal(a) adresu nesprávně</li>
</ul>

<h2>Jak dál?</h2>
<p>Využijte následující odkazy</p>
<ul>
	<li><a n:href="Homepage:default">Domovská stránka</a></li>
</ul>
