<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{ifset title}{include title|stripHtml} | {/ifset} Title</title>
		{*<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">*}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{$basePath}/assets/css/all.min.css{$resourceVersion}">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		<link rel="stylesheet" href="https://1744782593.rsc.cdn77.org/cssc/a22/common.less?v=bf8e191a60ee4775f83c4eb91713c33d">

		{block head}{/block}
	</head>

	<body class="{$bodyClass} theme-default">
		<div class="container">

			{include 'breadcrumb.latte'}

			<h1>{$title}</h1>

			<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

			{include content}

		</div>

		{block scripts}
			{*<script src="{$basePath}/assets/js/all.min.js{resourceVersion}"></script>*}
			<script src="https://www.xxx.cz/widgety/script.js" type="text/javascript"></script>
		{/block}
	</body>
</html>
