{* @TODO as component.. but there are some problems with integration into the BasePresenter *}
{ifset $breadcrumbs}
	<ul class="breadcrumb">
	{foreach $breadcrumbs as $crumb}
		<li>
			{if $crumb->getUrl()}
				<a href="{$crumb->getUrl()}">{$crumb->getTitle()}</a>
			{else}
				{$crumb->getTitle()}
			{/if}
		</li>
	{/foreach}
	</ul>
{/ifset}
